body {
	background-image: url("quinnbg.png");
	background-attachment: fixed;
}

h1 {
	color: #EFEFEF;
	font-family: "Monaco", "Courier New", monospace;
	font-size: 72px;
	line-height: 20%;
}

h2 {
	color: #E85C12;
	font-family: "Monaco", "Courier New", monospace;
	font-size: 48px;
	line-height: 20%;
}

h3 {
	color: #F07C45;
	font-family: "Monaco", "Courier New", monospace;
	font-size: 36px;
	line-height: 20%;
}

p {
	color: white;
	font-family: courier;
}


a:link {
		color: #FF7F00;
		text-decoration: none;
}

a:visited {
		color: #0058FF;
		text-decoration: none;
}

a:hover {
		color: #0058FF;
		text-decoration: underline;
}

a:active {
		color: #FFFF00;
		text-decoration: underline;
}

/*for images*/

img {
  margin-left: 20px;
}

/*for icons*/

p.centre {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

/*div stuff for making your website divided into boxes*/

.headerspace {
	padding: 24px;
}

.sidespace {
	display: flex;
	flex: 1;
}

.footerspace {
	padding: 24px;
}

.sidebar {
	display: flex;
	justify-content: center;
	position: fixed;
	flex-direction: column;
	flex: 1;
	background-color: black;
	align-items: center;
	padding-left: 24px;
	padding-right: 24px;
	height: 860px;
	width: 320px;
}

.sidebar > div {
	justify-content: center;
	flex-direction: column;
}

.mainbar {
	display: flex;
	flex: 4;
	background-color: #333333;
	justify-content: center;
	align-items: center;
	padding-left: 24px;
	padding-right: 24px;
	flex-direction: column;
}

.mainbar > div {
	flex-direction: column;
}

.centerspace {
	display: flex;
}

/*this part makes it more phone compatible!*/
@media screen and (max-width: 1360px) {
  .centerspace {   
    flex-direction: column;
	margin-left: 54px;
	margin-right: 54px;
  }
  .sidebar {
	position: static;
	width: auto;
  }
}
